{% extends 'index.html' %}
{% block content_title %}

  <h1>
     <a href="{% url 'main:liste_informations_enseignants' id_annee_selectionnee %}" class="btn btn-outline-warning">
        <i class="fas fa-chevron-left fa-lg"></i> Retour
      </a>
  </h1>
{% endblock %}
{% block content_title_description %}


{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center">
    <div class="block-content card m-4 col-md-10 col-lg-8 col-xl-6">
      <div class="d-flex justify-content-between">
        <h3>         
        </h3>
    </div>
      <form class="container-fluid p-3" action="#" method="POST">
        {% csrf_token %}

        <div class="form-row mb-3">        
          <div class="col-md-6">
            {{ form.enseignant.label_tag }}
            {{ form.enseignant }}
            <span class="text-danger">{{ form.enseignant.errors }}</span>
          </div>

          <div class="col-md-6">
            {{ form.numeroSecurite.label_tag }}
            {{ form.numeroSecurite }}
            <span class="text-danger">{{ form.numeroSecurite.errors }}</span>
          </div>
        </div>

         <div class="form-row mb-3">        
          <div class="col-md-6">
            {{ form.discipline.label_tag }}
            {{ form.discipline }}
            <span class="text-danger">{{ form.discipline.errors }}</span>
          </div>

          <div class="col-md-6">
            {{ form.niveau.label_tag }}
            {{ form.niveau }}
            <span class="text-danger">{{ form.niveau.errors }}</span>
          </div>
        </div>

         <div class="form-row mb-3">        
          <div class="col-md-6">
            {{ form.dateDebut.label_tag }}
            {{ form.dateDebut }}
            <span class="text-danger">{{ form.dateDebut.errors }}</span>
          </div>

          <div class="col-md-6">
            {{ form.dateFin.label_tag }}
            {{ form.dateFin }}
            <span class="text-danger">{{ form.dateFin.errors }}</span>
          </div>
        </div>

        <br>

        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-database"></i> Enrégistrer &nbsp;&nbsp;&nbsp;<span></span></button>
      </form> 
    </div>
  </div>
{% endblock %}
