{% extends '../index.html' %}

{% block content %}

<div class="block block-rounded m-5">
    <div class="block-header d-flex justify-content-between align-items-center">
        <h3 class="block-title">Certificats des enseignants</h3>
        <a href="{% url 'main:enregistrer_informations'%}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Ajouter
        </a> 
    </div>
    <div class="block-content block-content-full">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <thead>
                    <tr>
                        <th class="text-center">Enseignant</th>
                        <th class="text-center">Numero de securite</th>
                        <th class="text-center">Discipline</th>
                        <th class="text-center">Date début</th>
                        <th class="text-center">Date fin</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for information in informations_enseignants %}
                    <tr>
                        <td class="text-center">{{information.enseignant.personnel.nom}} {{information.enseignant.prenom}}</td>
                        <td class="text-center">{{information.numeroSecurite}}</td>
                        <td class="text-center">{{information.discipline.libelle}}</td>
                        <td class="text-center">{{information.dateDebut}}</td>
                        <td class="text-center">{{information.dateFin}}</td>
                        <td class="text-center">                                      
                            <a href="{% url 'main:edit_information' information.id %}" class="btn btn-sm btn-warning" style="color: blanchedalmond;">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="{% url 'main:certificat_travail' information.id %}" class="btn btn-sm btn-success" style="color: blanchedalmond;">
                                <i class="fas fa-file-pdf"></i>
                            </a>
                        </td> 
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
