{% extends '../index.html' %}

{% block content_title %}
    Enregistrement une matière
    <h1>
        <a href="{% url 'main:etudiants' %}" class="btn btn-outline-warning">
            <i class="fas fa-chevron-left fa-lg"></i> Retour
        </a>
    </h1>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="block-content card m-4 col-md-10 col-lg-8 col-xl-6">
            <div class="d-flex justify-content-between">
            <h3>         
            </h3>
                <a href="{% url 'main:importer_les_donnees' %}" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> Importer
                </a>
            </div>
            <form class="container-fluid p-3" action="#" method="POST">
                {% csrf_token %}
                <div class="form-row mb-3">
                    <div class="col-12">
                        {{ form.libelle.label_tag }}
                        {{ form.libelle }}
                        <span class="text-danger">{{ form.libelle.errors }}</span>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-6">
                        {{ form.abbreviation.label_tag }}
                        {{ form.abbreviation }}
                        <span class="text-danger">{{ form.abbreviation.errors }}</span>
                    </div>
                    <div class="col-md-6">
                        {{ form.ue.label_tag }}
                        {{ form.ue }}
                        <span class="text-danger">{{ form.ue.errors }}</span>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-6">
                        {{ form.coefficient.label_tag }}
                        {{ form.coefficient }}
                        <span class="text-danger">{{ form.coefficient.errors }}</span>
                    </div>
                    <div class="col-md-6">
                        {{ form.minValue.label_tag }}
                        {{ form.minValue }}
                        <span class="text-danger">{{ form.minValue.errors }}</span>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-12">
                        {{ form.enseignant.label_tag }}
                        {{ form.enseignant }}
                        <span class="text-danger">{{ form.enseignant.errors }}</span>
                    </div>
                </div>
                <button class="btn btn-primary btn-block mt-3" type="submit"><i class="fas fa-database"></i> Enrégistrer &nbsp;&nbsp;&nbsp;<span></span></button>
            </form> 
        </div>
    </div>
{% endblock %}