{% extends '../index.html' %}

{% block content %}

<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h3 class="block-title">Liste des Fiches de Paie</h3>
        {% if is_comptable %}
        <a href="{% url 'paiement:enregistrer_fiche_de_paie' %}" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> Ajouter
        </a>
        {% endif %}

        


    </div>

    <div class="block-content block-content-full">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 30%;">Période</th>
                        <th class="text-center" style="width: 30%;">Enseignant</th>
                        <th class="text-center" style="width: 18%;">Nombre d'heure</th>
                        <th class="text-center" style="width: 18%;">Montant à payer</th>
                        <th class="text-center" style="width: 55%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fiche in fiches %}
                    <tr>
                        <td class="text-center font-size-sm">Du {{ fiche.dateDebut }} au {{ fiche.dateFin }}</td>
                        <td class="text-center font-size-sm">{{ fiche.enseignant.nom }} {{ fiche.enseignant.prenom }}</td>
                        <td class="text-center font-size-sm">{{ fiche.nombreHeure }} H</td>
                        <td class="text-center font-size-sm">{{ fiche.difference }} FCFA</td>
                        <td style="text-align: center;">

                            <button type="button" class="update-book btn btn-sm btn-success">
                                <a  style="color: blanchedalmond;" href="{% url 'paiement:fiche_paie' fiche.id %}">
                                    <span><i class="fas fa-file-pdf"></i></span>
                                </a>
                            </button>

                            {% if is_comptable %}
                            <button type="button" class="update-book btn btn-sm btn-warning">
                                <a style="color: blanchedalmond;" href="{% url 'paiement:modifier_fiche_de_paie' fiche.id %}">
                                    <span><i class="far fa-edit"></i></span>
                                </a>
                            </button>

                            <button type="button" class="delete-fiche btn btn-sm btn-danger" onclick="showDeleteConfirmation('{{ fiche.id }}')">
                                <span><i class="far fa-trash-alt fa-lg"></i></span>
                            </button>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function showDeleteConfirmation(fiche_paieId) {
        if (confirm("Voulez-vous vraiment supprimer cette fiche de paie ?")) {
            window.location.href = "{% url 'paiement:delete_fiches_de_paie' %}?id=" + fiche_paieId;
        }
    }
</script>
{% endblock %}
