django
psycopg2-binary
Pillow==9.5.0
latex
jinja2
Faker
watchdog
num2words
django-import-export
django-browser-reload
django_extensions
gunicorn
django-solo
requests
python-decouple
Werkzeug
python-dotenv
pandas

django-dbbackup
django-crontab

sphinx
furo
