{% extends 'index.html' %}
{% block content_title %} Domaines
{% endblock content_title %}
{% block backURl %} 
<div>
    <a href="{% url 'maquette:programmes' %}" class="btn btn-outline-warning">
        <i class="fas fa-chevron-left fa-lg"></i> Retour
    </a>
</div>
{% endblock backURl %}
{% block content %}
<div>
    <div class="block-header">
        <div class="block-title"></div>
        <a href="{% url 'maquette:add_domaine' %}">
            <button class="btn btn-outline-primary mt-4" id="add">
                <i class="fas fa-plus"></i> Ajouter un domaine
            </button>
        </a>
    </div>
    <div class="block block-rounded">
        <div class="block-content block-content-full">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 80px;">Id</th>
                        <th class="d-none d-sm-table-cell text-center" >Nom</th>
                        <th class="d-none d-sm-table-cell text-center" >Description</th>
                        <th style="width: 15%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domaine in domaines %}
                    <tr>
                        <td class="text-center font-size-sm">{{ domaine.id }}</td>
                        <td class="text-center font-w600 font-size-sm">{{ domaine.nom }}</td>
                        <td class="text-center font-w600 font-size-sm">{{ domaine.description }}</td>
                        <td class="text-center"> 
                            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdown-default-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu font-size-sm" aria-labelledby="dropdown-default-secondary">
                                <li class="nav-main-item">
                                    <a class="nav-main-link nav-main-link-name" data-toggle="" aria-haspopup="true" aria-expanded="false" href="{% url 'maquette:parcours' domaine.id %}">
                                        <i class="fa fa-eye mr-1 text-primary" aria-hidden="true"></i>
                                        <span class="nav-main-link-name">Parcours</span>
                                    </a>                   
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link nav-main-link-name" data-toggle="" aria-haspopup="true" aria-expanded="false" href="{% url 'maquette:edit_domaine' domaine.id %}">
                                        <i class="fa fa-edit mr-1 text-primary" aria-hidden="true"></i>
                                        <span class="nav-main-link-name">Editer</span>
                                    </a>                   
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link nav-main-link-name" data-toggle="" aria-haspopup="true" aria-expanded="false" href="{% url 'maquette:delete_domaine' domaine.id %}">
                                        <i class="fa fa-trash mr-1 text-danger" aria-hidden="true"></i>
                                        <span class="nav-main-link-name">Supprimer</span>
                                    </a>                   
                                </li>
                            </div>                  
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>            
    </div>
</div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        function initForm(id, value, description){
            $("#id")[0].value = id;
            $("#id_nom")[0].value = value;
            $('#id_description')[0].value = description;
            $('#add')[0].children[1].innerText = "Editer";
        }

        $(".delete").on('click', function(){
            response = confirm("Voulez vous vraiment supprimer cet programme ?")
            if (! response){
                event.stopPropagation();
                event.preventDefault();
            }
        });
    </script>
{% endblock scripts %}
