:root {
    --primary-color: #045BEA;
    --primary-color-glace: #1c72d6;
    --chart-orange-color: #cc5034;
    --chart-orange-color-hover: #ee3309;
}

.bg-chart-orange-color {
    background-color: var(--chart-orange-color);
}

.errors {
    color:  red;
}

.error ul li {
    color: red;
    list-style: none;
}

.primary-bg {
    background-color: var(--primary-color);
    color: white;
}

.primary-bg:hover {
    background-color: var(--primary-color-glace);
    color: white;
}

.primary-bg-glace {
    background-color: var(--primary-color-glace);
}

.primary-color {
    color: var(--primary-color-glace);;
}

.nav-main-item .nav-main-link:hover .nav-main-link-name, .nav-main-item .nav-main-link:hover .nav-main-link-icon{
    color: var(--primary-color-glace);; /* Changer la couleur du texte en vert lors du survol */
}

ul > .nav-main-item .nav-main-link .nav-main-link-name, .nav-main-item .nav-main-link .nav-main-link-icon{
    color: white; /* Changer la couleur du texte en vert lors du survol */
}



.btn-primary {
    color: #fff;
    background-color: var(--primary-color-glace);
    border-color: var(--primary-color);
}

.btn-primary:hover {
color: #fff;
background-color: #3261cf;
border-color: #2f5cc5;
}

.btn-primary:focus, .btn-primary.focus {
color: #fff;
background-color: #3261cf;
border-color: #2f5cc5;
box-shadow: 0 0 0 0.2rem rgba(107, 141, 220, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
color: #fff;
background-color: #5179d6;
border-color: #5179d6;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
color: #fff;
background-color: #2f5cc5;
border-color: #2c57bb;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(107, 141, 220, 0.5);
}



.bg-warning {
    background-color: var(--chart-orange-color);
}
  

.btn-warning {
    color: #fff;
    background-color: var(--chart-orange-color);
    border-color: var(--chart-orange-color);
}

.btn-warning:hover {
color: #fff;
background-color: var(--chart-orange-color-hover);
border-color: var(--chart-orange-color-hover);
}

.btn-warning:focus, .btn-warning.focus {
color: #fff;
background-color: var(--chart-orange-color);
border-color: var(--chart-orange-color);
box-shadow: 0 0 0 0.2rem rgba(233, 186, 126, 0.5);
}
