{% extends 'index.html' %}
{% block content_title %}

Enregistrement d'un paiement

  <h1>
     <a href="{% url 'paiement:liste_paiements' id_annee_selectionnee  %}" class="btn btn-outline-warning">
        <i class="fas fa-chevron-left fa-lg"></i> Retour
      </a>
  </h1>
{% endblock %}
{% block content_title_description %}


{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center">
    <div class="block-content card m-4 col-md-10 col-lg-8 col-xl-6">
      <div class="d-flex justify-content-between">
        <h3>         
        </h3>
    </div>
      <form class="container-fluid p-3" action="#" method="POST">
        {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {{ form.non_field_errors }}
        </div>
      {% endif %}
  

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.type.label_tag }}
            {{ form.type }}
            <span class="text-danger">{{ form.type.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.etudiant.label_tag }}
            {{ form.etudiant}}
            <span class="text-danger">{{ form.etudiant.errors }}</span>
          </div>
         
        </div>
        {% comment %} <select class="js-select2 form-control" id="example-select2-multiple" name="example-select2-multiple" style="width: 100%;" data-placeholder="Choose many.." multiple>
          <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
          <option value="{{ form.etudiant }}" selected>{{ form.etudiant }}</option>
          
      </select> {% endcomment %}
        <br>

        <div class="form-row mb-3">        
          <div class="col-md-6">
            {{ form.montant.label_tag }}
            {{ form.montant }}
            
            <span class="text-danger">{{ form.montant.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.dateversement.label_tag }}
            {{ form.dateversement }}
            <span class="text-danger">{{ form.dateversement.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">        
          <div class="col-md-6">
            {{ form.numerobordereau.label_tag }}
            {{ form.numerobordereau }}
            <span class="text-danger">{{ form.numerobordereau.errors }}</span>
          </div>
           <div class="col-md-6">
            {{ form.annee_universitaire.label_tag }}
            {{ form.annee_universitaire }}
            <span class="text-danger">{{ form.annee_universitaire.errors }}</span>
            {{ form.errors }}
          </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-database"></i> Enrégistrer &nbsp;&nbsp;&nbsp;<span></span></button>
      </form> 
    </div>
  </div>
{% endblock %} 
{% block scripts %}
<script>
  console.log("hello");
  // frais_inscription est une variable défini depuis la vue et qui contient le montant du frais_inscription
  let valeur= {% autoescape off %} {{frais_inscription}}{% endautoescape %};
  //valeur=parseFloat((valeur+"").replace(",","."));
  $('#id_type').on("change",function(){
   // console.log( $('#id_type').val())
    if($('#id_type').val()=="Frais d'inscription"){
      $('#id_montant').val(valeur);
    } else {
      $('#id_montant').val(0);
    }
  });

</script>
{% endblock scripts %}