{% extends '../index.html' %}

{% block content %}

<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h3 class="block-title">Liste des Paiements</h3>
        <a href="{% url 'paiement:bilan_paiements_annuel' id_annee_selectionnee %}" class="btn btn-outline-dark">
                <span class="fa fa-eye"></span> Bilan
        </a>  

         {% if is_comptable %}
        <a href="{% url 'paiement:enregistrer_paiement'%}" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> Ajouter
        </a>
        {% endif %}
    </div>

    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <thead>
                <tr>
                    <th class="text-center" style="width: 25%;">Type de paiement</th>
                    <th class="text-center" style="width: 25%;">Étudiant</th>
                    <th class="text-center" style="width: 25%;">Montant versé</th>
                    <th class="text-center" style="width: 25%;">Date de versement</th>
                    <th class="text-center" style="width: 25%;">Numéro bordereau</th>
                    <th class="text-center" style="width: 25%;">Comptable</th>
                    {% if is_comptable %}
                        <th class="text-center" style="width: 15%;">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for paiement in paiements %}
                <tr>
                    <td class="text-center font-size-sm">{{ paiement.type }}</td>
                    <td class="text-center font-size-sm">{{ paiement.etudiant.nom }} {{ paiement.etudiant.prenom }}</td>
                    <td class="text-center font-size-sm">{{ paiement.montant }}</td>
                    <td class="text-center font-size-sm">{{ paiement.dateversement }}</td>
                    <td class="text-center font-size-sm">{{ paiement.numerobordereau }}</td>
                    <td class="text-center font-size-sm">{{ paiement.comptable }}</td>
                    {% if is_comptable %}
                  
                    <td class="text-center">     
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdown-default-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu font-size-sm" aria-labelledby="dropdown-default-secondary">
                            <li class="nav-main-item">
                                <a class="nav-main-link nav-main-link-name" data-toggle="" aria-haspopup="true" aria-expanded="false" href="{% url 'paiement:modifier_paiement' paiement.id %}">
                                    <i class="fa fa-edit mr-1" aria-hidden="true"></i>
                                    <span class="nav-main-link-name">Edit</span>
                                </a>                   
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link nav-main-link-name"
                                onclick="delete_object('/paiement/delete_frais_scolarite/{{ paiement.id}}/', 'un frais de scolarité')"
                                href="#">
                                    <i class="fa fa-trash mr-1 text-danger"></i>
                                    <span class="nav-main-link-name">Supprimer</span>
                                </a>                   
                            </li>
                        </div>                                  
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
