{% extends '../index.html' %}

{% block content %}

<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h3 class="block-title">Liste des Paiements</h3>

        <button class="btn btn-dark" id="btnimprimer">
            billan
        </button>


        <div class="" id="printable">
            <form action="{% url 'paiement:option_impression_frais_scolarite_par_semestre' %}" method="POST">

                {% csrf_token %}

                <div class="block-options">
                    <div class="block-options-item">
                        <div class="block-options-item">
                            <select class="form-control" id="annee_selectionnee" name="semestres" multiple>
                                <option disabled>Sélectionner semestres</option>
                                {% for semestre in semestres %}
                                    <option value="{{ semestre.id }}">{{ semestre.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="block-options">
                    <div class="block-options-item">
                        <div class="block-options-item">
                            <input type="number" class="form-control" id="item-name" name="min" placeholder="Montant" min="0">
                        </div>
                        <div class="block-options-item">
                            <input type="number" class="form-control" id="item-name" name="max" placeholder="Montant" min="0">
                        </div>
                    </div>
                </div>
    
                <div class="block-options">
                    <button type="submit">Envoyer</button>
                </div>
            </form>
        </div>





        {% if is_comptable %}
            <a href="{% url 'paiement:enregistrer_paiement'%}" class="btn btn-outline-primary">
                    <i class="fas fa-plus"></i> Ajouter
            </a>
        {% endif %}
    </div>

    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <thead>
                <tr>
                    <th class="text-center" style="width: 25%;">Type de paiement</th>
                    <th class="text-center" style="width: 25%;">Étudiant</th>
                    <th class="text-center" style="width: 25%;">Montant versé</th>
                    <th class="text-center" style="width: 25%;">Date de versement</th>
                    <th class="text-center" style="width: 25%;">Numéro bordereau</th>
                    <th class="text-center" style="width: 25%;">Comptable</th>
                    {% if is_comptable %}
                        <th class="text-center" style="width: 15%;">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for paiement in paiements %}
                <tr>
                    <td class="text-center font-size-sm">{{ paiement.type }}</td>
                    <td class="text-center font-size-sm">{{ paiement.etudiant.nom }} {{ paiement.etudiant.prenom }}</td>
                    <td class="text-center font-size-sm">{{ paiement.montant }}</td>
                    <td class="text-center font-size-sm">{{ paiement.dateversement }}</td>
                    <td class="text-center font-size-sm">{{ paiement.numerobordereau }}</td>
                    <td class="text-center font-size-sm">{{ paiement.comptable }}</td>
                    {% if is_comptable %}
                  
                    <td class="text-center">     
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdown-default-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu font-size-sm" aria-labelledby="dropdown-default-secondary">
                            <li class="nav-main-item">
                                <a class="nav-main-link nav-main-link-name" data-toggle="" aria-haspopup="true" aria-expanded="false" href="{% url 'paiement:modifier_paiement' paiement.id %}">
                                    <i class="fa fa-edit mr-1" aria-hidden="true"></i>
                                    <span class="nav-main-link-name">Edit</span>
                                </a>                   
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link nav-main-link-name"
                                onclick="delete_object('/paiement/delete_frais_scolarite/{{ paiement.id}}/', 'un frais de scolarité')"
                                href="#">
                                    <i class="fa fa-trash mr-1 text-danger"></i>
                                    <span class="nav-main-link-name">Supprimer</span>
                                </a>                   
                            </li>
                        </div>                                  
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#printable').hide()
        $('#btnimprimer').click(function(){
            $('#printable').slideToggle()
        })
    })
</script>
<!-- {% block scripts %}
{% endblock scripts %} -->

{% endblock %}