{% extends 'index.html' %}
{% block content_title %} Gestion de la maquette {% endblock content_title %}
{% block content_title_description %}{% endblock content_title_description %}
{% block content %}
<div class="block block-rounded">
    <div class="block-header">
        <select name="semestre" id="semestre" class="form-control col-md-2 mr-2">
            <option value="">Parcours</option>
            {% for parcours in list_parcours %}
                <option value="{{ parcours.id }}" {% if parcours_selected == parcours.id %}selected{% endif %}>{{ parcours }}</option>
            {% endfor %}
        </select>
        <div class="d-flex">
            <form action="{% url 'maquette:domaines' %}" method="get">
                <button type="submit" class="btn btn-outline-primary ml-3" id="add-form-row">
                    Domaines
                </button>
            </form>
            <form action="{% url 'maquette:add_programme' id_annee_selectionnee %}" method="get">
                <button type="submit" class="btn btn-outline-primary ml-3" id="add-form-row">
                    <i class="fas fa-plus"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="block-content block-content-full">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                    <thead>
                        <tr>
                            <th class="d-none d-sm-table-cell text-center" >Semestre</th>
                            <th class="d-none d-sm-table-cell text-center" >Ues</th>
                            <th style="width: 15%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programme in programmes  %}
                        <tr class="model-form-row">
                            <td style="text-align: center;">
                                {{ programme.semestre }}
                            </td>
                            <td style="text-align: center;">
                                {% for ue in programme.ues.all  %}
                                <span class="badge badge-primary">{{ ue.libelle }}</span>
                                {% endfor %}
                            </td>
                            <td style="text-align: center;"> 
                                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdown-default-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu font-size-sm" aria-labelledby="dropdown-default-secondary">
                                    <li class="nav-main-item">
                                        <a class="nav-main-link nav-main-link-name" data-toggle="" aria-haspopup="true" aria-expanded="false" href="{% url 'maquette:edit_programme' programme.id id_annee_selectionnee %}">
                                            <i class="fa fa-edit mr-1 text-primary" aria-hidden="true"></i>
                                            <span class="nav-main-link-name">Editer</span>
                                        </a>                   
                                    </li>
                                    <li class="nav-main-item">
                                        <a class="nav-main-link nav-main-link-name" data-toggle="" aria-haspopup="true" aria-expanded="false" href="{% url 'maquette:delete_programme' programme.id id_annee_selectionnee %}">
                                            <i class="fa fa-trash mr-1 text-danger" aria-hidden="true"></i>
                                            <span class="nav-main-link-name">Supprimer</span>
                                        </a>                   
                                    </li>
                                </div>                              
                            </td> 
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </table>
        </form>
    </div>
</div>
{% endblock content %}
{% comment %} {% block scripts %}
    <script type="text/javascript">
        $(".delete").on('click', function(){
            response = confirm("Voulez vous vraiment supprimer cet programme ?")
            if (! response){
                event.stopPropagation();
                event.preventDefault();
            }
        });
        form_tag = $('#form-semestre');
        $('#semestre').on('change', function() {
            form_tag.submit();
        });
    </script>
    <script type="text/javascript">
        let i = parseInt($('#id_form-TOTAL_FORMS').val());
        $('#add-form-row').click(function() {
            console.log("OKAY");
            let old_row_children = $('.model-form-row:last').children()
            var empty_form = $('.model-form-row:last').clone(true);
            input_form = empty_form.find(':input');
            empty_form.insertAfter('.model-form-row:last');
            //empty_form.children()[0].children[0].value = "";
            empty_form.children()[1].children[0].value = "";
            empty_form.children()[2].children[0].value = "";
            i = i+1;
            $('#id_form-TOTAL_FORMS').val(i);
            updateFormset();
        });
        /*
        // Attacher un gestionnaire d'événements à tous les boutons de suppression
        $(".delete-row").click(function() {
            var rowCount = $('.content .commande-row').length;
            if (rowCount == 1) { // 2 car il y a toujours une ligne d'entête
                alert('Impossible de supprimer la dernière ligne.');
                return false;
            }
            // Obtenir l'ID du formulaire à supprimer
            var formId = $(this).closest(".commande-row").attr("id");
            // Supprimer le formulaire du DOM
            $(this).closest(".commande-row").remove();
            // Mettre à jour le formset
            updateFormset();
        });*/

        function updateFormset() {
            // Obtenir tous les formulaires du formset
            var forms = $(".model-form-row");
            
            // Mettre à jour les indices de chaque formulaire et ajouter les numéros
            forms.each(function(index) {
                
                var isLastRow = (index === forms.length - 1);
                
                $(this).find(":input").each(function(i, tag) {
                    if (tag.tagName.toLowerCase() !== 'button') {
                        tag.id = tag.id.replace(/-\d+-/, "-" + index + "-");
                        tag.name = tag.name.replace(/-\d+-/, "-" + index + "-");
                        //console.log(tag.id);
                        //console.log(tag.name);
                    }
                    //console.log(tag);
                });
            });
            $('#id-form-TOTAL_FORMS').val(forms.length);
        }
    </script>
{% endblock scripts %} {% endcomment %}
