{% extends '../index.html' %}

{% block content %}
<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h3 class="block-title">Liste des tuteurs des étudiants</h3>
        <a href="{% url 'main:create_tuteur' %}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Ajout Tuteur
        </a> 
    </div>
    <div class="block-content block-content-full">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 20%;">Nom & Prénoms</th>
                        <th class="text-center" style="width: 15%;">Type</th>
                        <th class="text-center" style="width: 15%;">Contact</th>
                        <th class="text-center" style="width: 25%;">Adresse</th>
                        <th class="text-center" style="width: 15%;">Profession</th>
                        <th class="text-center" style="width: 10%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tuteur in tuteurs %}
                    <tr>
                        <td class="text-center font-size-sm">{{ tuteur.nom }} {{ tuteur.prenom }}</td>
                        <td class="text-center font-size-sm">{{ tuteur.type }}</td>
                        <td class="text-center font-size-sm">{{ tuteur.contact }}</td>
                        <td class="text-center font-size-sm">{{ tuteur.adresse }}</td>
                        <td class="text-center font-size-sm">{{ tuteur.profession }}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a href="{% url 'main:detail_tuteur' tuteur.id %}" class="btn btn-sm btn-primary">
                                    <i class="far fa-eye"></i>
                                </a>
                                <a href="{% url 'main:update_tuteur' tuteur.id %}" class="btn btn-sm btn-warning">
                                    <i class="far fa-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
