<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #dbd9d1;
    }

    h1 {
        font-family: 'Satisfy', cursive;
        font-size: 70px;
    }
</style>
<body>
    <h1>Joyeux Noel</h1>
    <img src="/media/assets/surprise.png" width="" alt="" srcset="">
</body>
</html>