{% extends 'index.html' %}
{% block content_title %} Données {% endblock content_title %}
{% block content_title_description %}{% endblock content_title_description %}
{% block content %}
<div class="block block-rounded">
    <div class="block-header">
       
    </div>
    <div class="block-content block-content-full">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <strong class="text-danger">Attention :</strong> <br>
                <span>
                    Avant de charger les données assurez vous d'avoir déjà fait un backup car 
                    car cette action risque de <strong class="text-danger">supprimer</strong> les données actuelle de votre base de données
                    pour en inserer de nouvelles.
                </span>
            </p>
            <div class="d-flex flex-column mt-3">
                {{ form.database_excel_file.label_tag }}
                <div class="d-flex justify-content-between">
                    {{ form.database_excel_file }}
                    <div class="mx-3 d-flex align-items-center">
                        <a href="{% url 'maquette:backup' %}" class="ml-3">Backup</a>
                    </div>
                </div>
                {{ form.database_excel_file.errors }}
            </div>
            <div class="d-flex flex-column mt-3">
                {{ form.maquette_excel_file.label_tag }}
                <div class="d-flex justify-content-between">
                    {{ form.maquette_excel_file }}
                    <div class="mx-3 d-flex align-items-center">
                        <a href="{{ MEDIA_URL }}/excel_templates/maquette_general.xlsx" download="excel">Template</a>
                    </div>
                </div>
                {{ form.maquette_excel_file.errors }}
            </div>
            <div class="d-flex flex-column mt-3">
                {{ form.matieres_excel_file.label_tag }}
                <div class="d-flex justify-content-between">
                    {{ form.matieres_excel_file }}
                    <div class="mx-3 d-flex align-items-center">
                        <a href="{{ MEDIA_URL }}/excel_templates/ues_matiere.xlsx" download="excel" class="ml-3">Template</a>
                    </div>
                </div>
                {{ form.matieres_excel_file.errors }}
            </div>
            <div class="d-flex flex-column mt-3">
                {{ form.notes_excel_file.label_tag }}
                <div class="d-flex justify-content-between">
                    {{ form.notes_excel_file }}
                    <div class="mx-3 d-flex align-items-center">
                        <a href="{{ MEDIA_URL }}/excel_templates/notes_matiere.xlsx" download="excel" class="ml-3">Template</a>
                    </div>
                </div>
                {{ form.notes_excel_file.errors }}
            </div>
            <div class="mt-3 d-flex justify-content-end">
                <input type="submit" class="btn btn-primary ml-3" value="Mettre à jour">
            </div>
        </form>
    </div>
</div>
{% endblock content %}