{% extends 'index.html' %}
{% block content_title %} Application {% endblock content_title %}
{% block content_title_description %}{% endblock content_title_description %}
{% block content %}
<div class="p-6 row">
    {% include 'components/application_card.html' with title="Maquette" modal_id="maquette" icon_bg_color="bg-success" icon_class_names="far fa-2x fa-file-excel" %}
    {% include 'components/application_card.html' with title="Matières" modal_id="matiere" icon_bg_color="bg-info" icon_class_names="far fa-2x fa-file-excel" %}
    {% include 'components/application_card.html' with title="Notes" modal_id="note" icon_bg_color="bg-danger" icon_class_names="far fa-2x fa-file-excel" %}
    {% include 'components/application_card.html' with title="Parametre" modal_id="settings" icon_bg_color="bg-primary" icon_class_names="si fa-2x si-settings" %}
</div>
{% include 'components/modal_import_data.html' with title="Importer la maquette" modal_id="maquette" url="/maquette/upload/maquette/" %}
{% include 'components/modal_import_data.html' with title="Importer les matières" modal_id="matiere" url="/maquette/upload/matieres/" %}
{% include 'components/modal_import_note_data.html' with title="Importer les notes" modal_id="note" url="/maquette/upload/notes/" %}

{% endblock content %}
    