{% load static %}
<header id="page-header" class="">
    <div class="content-header headers1">
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-sm btn-dual mr-2 d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                <i class="fa fa-fw fa-bars"></i>
            </button>
            <button type="button" class="dics btn btn-sm btn-dual mr-2 d-none d-lg-inline-block" data-toggle="layout" data-action="sidebar_mini_toggle">
                <i class="fa fa-fw fa-ellipsis-v text-white"></i>
            </button>
        </div>
        <div class="d-flex align-items-center">
            <form method="POST" action="{% url 'main:change_annee_universitaire' %}" id="form-annee-universitaire">
                {% csrf_token %}
                <div class="form-row">
                    <input type="text" name="origin_path" value="{{ request.path }}" hidden>
                    <select id="annee-universitaire" name="annee_universitaire" class="form-control col-md-8 mr-3 dicss">
                        <option value="">Année universitaire</option>
                        {% for annee_univ in annees_universitaire %}
                        <option value="{{ annee_univ.id }}" {% if annee_univ.id == id_annee_selectionnee %}selected{% endif %}>{{ annee_univ }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

            <div class="dropdown d-inline-block ml-2 dicss">
                <button type="button" class="btn btn-sm btn-dual d-flex align-items-center" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle" src="{%static 'assets/media/avatars/avatar1.jpg' %}" alt="" style="width: 21px;">
                    <span class="d-none d-sm-inline-block ml-2">   {{ user.username}}</span>
                    <i class="fa fa-fw fa-angle-down d-none d-sm-inline-block ml-1 mt-1"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 border-0" aria-labelledby="page-header-user-dropdown">
                    <div class="p-3 text-center  primary-bg-glace rounded-top">
                        <img class="img-avatar img-avatar48 img-avatar-thumb" src="{%static 'assets/media/avatars/avatar1.jpg' %}" alt="">
                        <p class="mt-2 mb-0 text-white font-w500">{{   user.first_name}} {{   user.last_name}} </p>
                        <p class="mb-0 text-white-50 font-size-sm">{{   user.groups.all.0 }}</p>
                    </div>
                    <div class="p-2">
                        <a class="dropdown-item d-flex align-items-center justify-content-between" href="{% url 'main:profil' %}">
                            <span class="font-size-sm font-w500">Profile</span>
                        </a>
                        <a class="dropdown-item d-flex align-items-center justify-content-between" href="{% url 'main:edit_profil' %}">
                            <span class="font-size-sm font-w500">Modifier le profil</span>
                        </a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item d-flex align-items-center justify-content-between" href="{% url 'main:deconnexion' %}">
                            <span class="font-size-sm font-w500">Se deconnecter</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="page-header-search" class="overlay-header">
        <div class="content-header  bg-chart-orange-color">
            <form class="w-100" action="be_pages_generic_search.html" method="POST">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-alt-danger" data-toggle="layout" data-action="header_search_off">
                            <i class="fa fa-fw fa-times-circle"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                </div>
            </form>
        </div>
    </div>
    <div id="page-header-loader" class="overlay-header bg-white">
        <div class="content-header">
            <div class="w-100 text-center">
                <i class="fa fa-fw fa-circle-notch fa-spin"></i>
            </div>
        </div>
    </div>
    <!-- END Header Loader -->
</header>
