{% extends 'index.html' %}
{% block content_title %} Programme {% endblock content_title %}
{% block content_title_description %} Liste des programmes {% endblock content_title_description %}
{% block content %}
<div class="block block-rounded">
    <div class="block-header">
            <div class="block-title">
                <h3 >Ajouter une UE au parcours</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column">
                        {{ form.ue.label_tag }}
                        {{ form.ue }}
                        {{ form.ue.errors }}
                    </div>
                    <button type="submit" class="btn btn-outline-primary mt-4">
                        <i class="fas fa-plus"></i> Ajout un programme
                    </button>
                </form>
            </div>
        </div>
        <div class="block-content block-content-full">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 80px;">Id</th>
                        <th class="d-none d-sm-table-cell text-center" >Parcours</th>
                        <th class="d-none d-sm-table-cell text-center" >Ue</th>
                        <th class="d-none d-sm-table-cell text-center" >Semestre</th>
                        <th class="d-none d-sm-table-cell text-center" >Code</th>
                        <th style="width: 15%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for programme in programmes %}
                    <tr>
                        <td class="text-center font-size-sm">{{ programme.id }}</td>
                        <td class="text-center font-w600 font-size-sm">{{ programme.parcours }}</td>
                        <td class="text-center font-w600 font-size-sm">{{ programme.ue }}</td>
                        <td class="text-center font-w600 font-size-sm">{{ programme.semestre }}</td>
                        <td class="d-none d-sm-table-cell text-center">
                            {{ programme.generate_code }}
                        </td>
                        <td class="text-center">                                       
                            <button type="button" class="update-book btn btn-sm btn-warning">
                                <a style="color: blanchedalmond;" href="{% url 'maquette:programmes' parcours.id semestre.id programme.id %}">
                                    <span><i class="far fa-edit fa-lg"></i></span>
                            </button>  
                            <button type="button" class="delete-evaluation btn btn-sm btn-danger">
                                <a style="color: blanchedalmond;" href="{% url 'maquette:delete_programme' programme.id %}">
                                    <span><i class="fa fa-fw fa-times mr-1"></i></span>
                            </button>                                    
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            
        {% comment %} {% endif %} {% endcomment %}
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <!-- Table content -->
        </table>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(".delete").on('click', function(){
            response = confirm("Voulez vous vraiment supprimer cet programme ?")
            if (! response){
                event.stopPropagation();
                event.preventDefault();
            }
        });
    </script>
{% endblock scripts %}
