{% extends 'index.html' %}
{% block content_title %} Semestre {% endblock content_title %}
{% block content_title_description %} Liste des semestres {% endblock content_title_description %}
{% block content %}
<div class="block block-rounded">
    <div class="block-header">
        {% comment %} <h3 class="block-title"></h3>
            <a href="{% url 'maquette:add_programme' %}" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> Ajout un programme
            </a>
        </div> {% endcomment %}
        <div class="block-content block-content-full">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 80px;">Id</th>
                        <th class="d-none d-sm-table-cell text-center" >Nom</th>
                        <th style="width: 15%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for semestre in semestres %}
                    <tr>
                        <td class="text-center font-size-sm">{{ semestre.id }}</td>
                        <td class="text-center font-w600 font-size-sm">{{ semestre.libelle }}</td>
                        <td class="text-center">                                       
                            <a href="{% url 'maquette:programmes' parcours.id semestre.id 0 %}">
                                <button type="button" class="update-book btn btn-sm btn-success">
                                    <span><i class="far fa-eye fa-lg"></i></span>
                                </button>  
                            </a>                                   
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            
        {% comment %} {% endif %} {% endcomment %}
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <!-- Table content -->
        </table>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(".delete").on('click', function(){
            response = confirm("Voulez vous vraiment supprimer cet programme ?")
            if (! response){
                event.stopPropagation();
                event.preventDefault();
            }
        });
    </script>
{% endblock scripts %}
