{% extends '../index.html' %}
{% block content_title %}Détails de la séance{% endblock content_title %}
{% load static %}
{% block content %}


<main class="" id="main-container">
       
    <div class="content">
<div class="block block-rounded border-danger">  <div class=" content content-boxed block-content-full ">

        <div class="row">

            <div class="col-xl-3">
                <div class="block block-rounded">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title"> SEANCE </h3>
                    </div>
                    <div class="block-content">
                        <table class="table table-striped table-borderless font-size-sm">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-calendar mr-1"></i> {{ seance.date_et_heure_debut.date }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-clock mr-1"></i> {{ seance.date_et_heure_debut.hour}}h: {{ seance.date_et_heure_debut.minute }}min - {{ seance.date_et_heure_fin.hour}}h: {{ seance.date_et_heure_fin.minute }}min
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-book mr-1"></i> {{ seance.matiere }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-heart mr-1"></i> {%if seance.valider %} Validé par l'enseignant {% else %} Non validé par l'enseignant {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-tags mr-1"></i>
                                        <a class="badge badge-primary" href="{% url 'planning:resume' seance.semestre.id %}">{{ seance.semestre }}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <a class="block block-rounded block-link-shadow" href="{% url 'main:detail_etudiant' seance.auteur.id %}">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title">Auteur</h3>
                    </div>
                    <div class="block-content block-content-full text-center">
                        <div class="push">
                            <img class="img-avatar" src="{% static 'assets/media/avatars/avatar12.jpg'%} " alt="">
                        </div>
                        <div class="font-w600 mb-1">{{ seance.auteur.prenom }} {{ seance.auteur.nom }}</div>
                    </div>
                </a>
                <!-- END About Instructor -->
            </div>
            <div class="col-xl-6">
                <div class="block block-rounded">
                    <div class="block-content">
                        <h3>{{ seance.intitule }}</h3>
                        <p>{{ seance.description|safe }}</p>
                    </div>
                    
                </div>
                {% if seance.commentaire %}
                <div class="block block-rounded">
                    <div class="block-content">
                        <h3>Commentaire Enseignant :</h3>
                        <p>{{ seance.commentaire|safe }}</p>
                    </div>
                </div>    
                {% endif %}
                {% if not seance.valider  and user.is_authenticated and is_enseignant  %}
                <div class="block block-rounded">
                    <form  action="{% url 'cahier_de_texte:commenter' %} "  method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="commentaire">Laisser un commentaire :</label>
                                <textarea class="form-control" id="commentaire" name="commentaire" rows="3"></textarea>
                            </div>

                            <input type="hidden" id="seance_id" name="seance_id" value=" {{seance.id}} ">
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-block btn-rounded btn-success mb-2">Envoyer le commentaire</button>
                            </div>
                        </div>
                    </form>
                    <div class="block block-rounded">
                        <div class="block-content">
                            <a class="btn btn-block btn-rounded btn-success mb-2" href="/cahier_de_texte/valider_seance/{{seance.id}}/">valider la seance</a>
                            
                        </div>
                    </div>
                </div>
                {% elif not seance.valider and user.is_authenticated and not is_enseignant %}
                    <div class="block block-rounded">
                        <div class="block-content">
                            <a class="btn btn-block btn-rounded btn-success mb-2" href="javascript:void(0)" onclick="openSignatureModal()">Signature prof</a>
                        </div>
                    </div>
                {% endif %}

                <script>
                    function openSignatureModal() {
                        $('#signatureModal').modal('show');
                    }
                </script>

                <!-- END Lesson -->
            </div>
            <div class="col-xl-3">
                <div class="block block-rounded">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title"> Élèves absents </h3>
                    </div>
                    <div class="block-content">
                        <table class="table table-striped table-borderless font-size-sm">
                            <tbody>
                                {% for etudiant in seance.eleves_presents.all %}
                                    <tr>
                                        <td>
                                            <i class="fa fa-fw fa-user mr-1"></i> <a class="badge " href="{% url 'main:detail_etudiant' etudiant.id %}">{{ etudiant.nom }} {{ etudiant.prenom }}</a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>
                                            <i class="fa fa-fw fa-user mr-1"></i> Aucun élève absent
                                        </td>
                                    </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>

                <a class="block block-rounded block-link-shadow" href="{% url 'main:enseignant_detail' seance.enseignant.id %}">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title">Enseignant</h3>
                    </div>
                    <div class="block-content block-content-full text-center">
                        <div class="push">
                            <img class="img-avatar" src="{% static 'assets/media/avatars/avatar12.jpg'%} " alt="">
                        </div>
                        <div class="font-w600 mb-1">{{ seance.enseignant.prenom }} {{ seance.enseignant.nom }}</div>
                        <div class="font-size-sm text-muted">{{ seance.matiere }}</div>
                    </div>
                </a>
                <!-- END About Instructor -->
            </div>
        </div>
    </div>


</div>
</div>
<!-- Add this modal to your HTML template -->
<div class="modal fade" id="signatureModal" tabindex="-1" role="dialog" aria-labelledby="signatureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signatureModalLabel">Signature de l'enseignant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'cahier_de_texte:signature' %}"  method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="teacherName">Nom d'utilisateur de l'enseignant</label>
                        <input type="text" class="form-control" name="teacherName" id="teacherName" value="{{seance.matiere.enseignant.personnel.user}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Saisissez votre mot de passe" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="seance_id" name="seance_id"  value=" {{seance.id}} " readonly>
                    </div>
                    <button type="submit" class="btn btn-primary" >Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</main>
{% endblock content %}