{% extends '../index.html' %}
{% block content_title %} Mes Enregistrements{% endblock content_title %}
{% load static %}

{% block content %}
<style>
    .bout:hover{
        cursor: pointer;
        transition: 0.5s;
        transform: scale(1.05);
        background : #1873dca9;
        color : white;
    }
</style>
<main id="main-container">
    <div class="block block-rounded m-3">
        <div class="block-header p-4 d-flex  align-items-center">
            <div class="d-flex  align-items-center">
                <form action="" method="get" id="form-semestre" class="w-full m-3">
                    <div class="form-group">
                        <select name="matiere" id="semestre" class="form-control bout shadow-lg" onchange="this.form.submit()">
                            <option value="" >Matière</option>
                            {% for matiere in matieres %}
                            <option value="{{  matiere.id }}" {% if matiere.id ==  matiere.id %}selected{% endif %}>{{  matiere.libelle }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>

                <form action="" method="get" id="form-semestre" class="w-full m-2">
                    <div class="form-group">
                        <select name="signer" id="semestre" class="form-control bout shadow-lg" onchange="this.form.submit()">
                            <option value=""  {% if request.GET.signer ==  "" %}selected{% endif %}>All</option>
                            <option value="1" {% if request.GET.signer ==  "1" %}selected{% endif %} >Signer</option>
                            <option value="0" {% if request.GET.signer ==  "0" %}selected{% endif %} >Non Signer</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="block-content block-content-full shadow-lg">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                    <thead>
                        <tr>
                            <th style="width: 20%;">Intitulé</th>
                            <th style="width: 20%;">Matiere</th>
                            <th style="width: 20%;">Enseignant</th>
                            <th style="width: 20%;">Début</th>                            
                            <th style="width: 20%;">Fin</th>
                            <th style="width: 10%;">Signer</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seance in seances_validees %}
                            <tr>
                                <td class="font-w600 font-size-sm">
                                    <a href="/cahier_de_texte/info_seance/{{seance.id}}/">{{ seance.intitule }}</a>
                                </td>
                                <td>
                                    {{ seance.matiere.libelle }} 
                                </td>
                                <td>
                                    {{ seance.matiere.enseignant.personnel }}
                                </td>
                                <td>
                                    {{ seance.date_et_heure_debut }}
                                </td>
                                <td>
                                    {{ seance.date_et_heure_fin }}
                                </td>
                                <td>
                                    {{ seance.valider }}
                                </td>
                                <td class="text-center">
                                    <a href="/cahier_de_texte/modifier_seance/{{seance.id}}/" class="btn btn-sm btn-alt-primary" data-toggle="tooltip" title="Modifier">
                                                <i class="fa fa-fw fa-pencil-alt"></i>
                                            </a>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</main>
          
  {% endblock %}



