{% extends './index.html' %}
{% block content_title %}Seance Plannifier {{seance.id}} || du {{seance.planning}}  {% endblock content_title %}
{% load static %}
{% block content %}




    <div class="content content-boxed">

        <div class="row">
            
            <div class="col-xl-6">
                <!-- Subscribe -->
                <div class="block block-rounded">
                    <div class="block-content">
                        {% if not seance.valider and user.is_authenticated and is_etudiant %} 
                        <a class="btn btn-block btn-rounded btn-success mb-2" href="javascript:void(0)" data-toggle="modal" data-target="#seanceModal">Enregistrer la séance dans le cahier de texte</a>
                        <p class="font-size-sm text-center">
                        </p>
                        {% endif %} 
                    </div>
                </div>
                <!-- END Subscribe -->

                <!-- Course Info -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title"> SEANCE </h3>
                    </div>
                    <div class="block-content">
                        <table class="table table-striped table-borderless font-size-sm">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-calendar mr-1"></i> {{ seance.date_heure_debut.date }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-clock mr-1"></i> {{ seance.date_heure_debut.hour}}h: {{ seance.date_heure_debut.minute }}min - {{ seance.date_heure_fin.hour}}h: {{ seance.date_heure_fin.minute }}min
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-book mr-1"></i> {{ seance.matiere.libelle }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-heart mr-1"></i> {%if seance.valider %} Enregistrer dans le cahier de texte {% else %} Non enregistrer dans le cahier de texte {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-fw fa-tags mr-1"></i>
                                        <a class="badge badge-primary" href="javascript:void(0)">{{ seance.planning.semestre }}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <a class="block block-rounded block-link-shadow" href="javascript:void(0)">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title">Enseignant</h3>
                    </div>
                    <div class="block-content block-content-full text-center">
                        <div class="push">
                            <img class="img-avatar" src="{% static 'assets/media/avatars/avatar12.jpg'%} " alt="">
                        </div>
                        <div class="font-w600 mb-1">{{ seance.matiere.enseignant.prenom }} {{ seance.matiere.enseignant.nom }}</div>
                        <div class="font-size-sm text-muted">{{ seance.matiere }}</div>
                    </div>
                </a>
            </div>
            <div class="col-xl-6">
                <div class="block block-rounded">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title"> Etudiants Participant </h3>
                    </div>
                    <div class="block-content">
                        <table class="table table-striped table-borderless font-size-sm">
                            <tbody>
                                {% for etudiant in etudiants %}
                                    <tr>
                                        <td>
                                            <i class="fa fa-fw fa-user mr-1"></i> {{ etudiant.nom }} {{ etudiant.prenom }}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>
                                            <i class="fa fa-fw fa-user mr-1"></i> Aucun etudiant
                                        </td>
                                    </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/ckeditor.js'%}"></script>



    <div class="modal" id="seanceModal" tabindex="-1" role="dialog" aria-labelledby="seanceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Enregistrement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'cahier_de_texte:enregistrer_seance' %}"  method="post">
                        {% csrf_token %}
                        <input type="hidden" id="ecrit_par" name="ecrit_par" value="{{ request.etudiant.id }}">
                        <div class="form-group " >
                            <label for="example-text-input-alt">Intitulé</label>
                            <input type="text" class="form-control form-control-alt" id="intitulé" name="intitulé" required="true"  placeholder="Entrez un intitulé (si vous ne saisissez rien, le libellé de la matiere sera utiliser)">
                        </div>
                        <div class="form-group">
                            <label for="eleves-absents">Élèves absents</label>
                            <select  class="js-select2 form-control" id="eleves-absent" name="eleves-absent" style="width: 100%;" data-placeholder="Choisissez les.." multiple>
                                <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                                {% for etudiant in etudiants %}
                                <option value="{{ etudiant.id }}">{{ etudiant.nom }} {{ etudiant.prenom }}</option>
                                {% endfor %}
                            </select>
                               
                        </div>
                        <div class="form-group">
                            <div id="js-ckeditor5-classic" name="js-ckeditor5-classic">Resumé</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <script>
                      
                
        ClassicEditor
            .create(document.querySelector('#js-ckeditor5-classic'), {
            })
            .then(editor => {
                editor.model.document.on('change:data', () => {
                    const content = editor.getData();
                    document.querySelector('#description').value = content;
                    console.log(content)
                });
            })
            .catch(error => {
                console.error(error);
            });
        </script>


    <!-- END Page Content -->

   
{% endblock content %}