{% extends 'index.html' %}
{% block content_title %}
Enregistrement d'un étudiant
  <h1>
   <a href="{% url 'main:etudiants' %}" class="btn btn-outline-warning">
        <i class="fas fa-chevron-left fa-lg"></i> Retour
      </a>
  </h1>
{% endblock %}
{% block content_title_description %}

{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center">
    <div class="block-content card m-4 col-md-10 col-lg-8 col-xl-6">
      <div class="d-flex justify-content-between">
        <h3>         
        </h3>
        
          <a href="{% url 'main:importer_les_donnees' %}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Importer
          </a>
    </div>
      <form class="container-fluid p-3" action="#" method="POST">
        {% csrf_token %}
        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.nom.label_tag }}
            {{ form.nom }}
            <span class="text-danger">{{ form.nom.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.prenom.label_tag }}
            {{ form.prenom }}
            <span class="text-danger">{{ form.prenom.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.sexe.label_tag }}
            {{ form.sexe }}
            <span class="text-danger">{{ form.sexe.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.contact.label_tag }}
            {{ form.contact }}
            <span class="text-danger">{{ form.contact.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">        
          <div class="col-md-6">
            {{ form.adresse.label_tag }}
            {{ form.adresse }}
            <span class="text-danger">{{ form.adresse.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.prefecture.label_tag }}
            {{ form.prefecture }}
            <span class="text-danger">{{ form.prefecture.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.datenaissance.label_tag }}
            <div class="d-flex">{{ form.datenaissance }}</div>
            <span class="text-danger">{{ form.datenaissance.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.lieunaissance.label_tag }}
            {{ form.lieunaissance }}
            <span class="text-danger">{{ form.lieunaissance.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.seriebac1.label_tag }}
            {{ form.seriebac1 }}
            <span class="text-danger">{{ form.seriebac1.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.seriebac2.label_tag }}
            {{ form.seriebac2 }}
            <span class="text-danger">{{ form.seriebac2.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.anneebac1.label_tag }}
            {{ form.anneebac1 }}
            <span class="text-danger">{{ form.anneebac1.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.anneebac2.label_tag }}
            {{ form.anneebac2 }}
            <span class="text-danger">{{ form.anneebac2.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.etablissementSeconde.label_tag }}
            {{ form.etablissementSeconde }}
            <span class="text-danger">{{ form.etablissementSeconde.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.etablissementPremiere.label_tag }}
            {{ form.etablissementPremiere }}
            <span class="text-danger">{{ form.etablissementPremiere.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-12">
            {{ form.etablissementTerminale.label_tag }}
            {{ form.etablissementTerminale }}
            <span class="text-danger">{{ form.etablissementTerminale.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.francaisSeconde.label_tag }}
            {{ form.francaisSeconde }}
            <span class="text-danger">{{ form.francaisSeconde.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.francaisPremiere.label_tag }}
            {{ form.francaisPremiere }}
            <span class="text-danger">{{ form.francaisPremiere.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.francaisTerminale.label_tag }}
            {{ form.francaisTerminale }}
            <span class="text-danger">{{ form.francaisTerminale.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.anglaisSeconde.label_tag }}
            {{ form.anglaisSeconde }}
            <span class="text-danger">{{ form.anglaisSeconde.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.anglaisPremiere.label_tag }}
            {{ form.anglaisPremiere }}
            <span class="text-danger">{{ form.anglaisPremiere.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.anglaisTerminale.label_tag }}
            {{ form.anglaisTerminale }}
            <span class="text-danger">{{ form.anglaisTerminale.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.mathematiqueSeconde.label_tag }}
            {{ form.mathematiqueSeconde }}
            <span class="text-danger">{{ form.mathematiqueSeconde.errors }}</span>
          </div>
          <div class="col-md-6">
            {{ form.mathematiquePremiere.label_tag }}
            {{ form.mathematiquePremiere }}
            <span class="text-danger">{{ form.mathematiquePremiere.errors }}</span>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-md-12">
            {{ form.mathematiqueTerminale.label_tag }}
            {{ form.mathematiqueTerminale }}
            <span class="text-danger">{{ form.mathematiqueTerminale.errors }}</span>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-md-6">
            {{ form.is_active.label_tag }}
            <div class="d-flex align-items-start">
              {{ form.is_active }}
            </div>
            <span class="text-danger">{{ form.is_active.errors }}</span>
          </div>

          <div class="col-md-6 row">
          <div>
            {{ form.semestres.label_tag }}
             <div class="d-flex align-items-start">
              {{ form.semestres }}
            </div>
          </div>

          </div>

        </div>
        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-database"></i> Enrégistrer &nbsp;&nbsp;&nbsp;<span></span></button>
      </form> 
    </div>
  </div>
{% endblock %}
