{% extends '../index.html' %}
{% block content_title %}
Détails de l'étudiant <span class="text-primary">{{etudiant.nom}} {{etudiant.prenom}}</span>
<h1>
    <a href="{% url 'main:etudiants' %}" class="btn btn-outline-warning">
        <i class="fas fa-chevron-left fa-lg"></i> Retour
    </a>
</h1>
{% endblock %}
{% block content %}

<style>
    #etudiant{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    #etudiant td,#etudiant th{
        border: 1px solid #ddd;
        padding: 8px;
    }
    #etudiant tr:nth-child(even){
        background-color: #e8c1f7;
    }
    #etudiant th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #d6eaf8;
    }
</style>
<div class="d-flex justify-content-center">
    <div class="m-4 col-md-10 col-lg-8 col-xl-6 bg-white p-3 shadow-sm">
        <div class="row col-md-12">
            <div class="border col-md-4" style="width: 200px; height: 200px;">
                <img src="/{{ MEDIA_URL }}/{{ etudiant.photo_passport }}" alt="">
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <span class="font-weight-bold text-uppercase">Nom : </span> <span>{{ etudiant.nom }}</span>
                </div>
                <div class="col-md-12 mt-3">
                    <span class="font-weight-bold text-uppercase">Prénom : </span> <span>{{ etudiant.prenom }}</span>
                </div>
                <div class="col-md-12 mt-3">
                    <span class="font-weight-bold text-uppercase">Sexe : </span> <span>{{ etudiant.sexe }}</span>
                </div>
                <div class="col-md-12 mt-3">
                    <span class="font-weight-bold text-uppercase">Email : </span> <span>{{ etudiant.email }}</span>
                </div>
                <div class="col-md-12 mt-3">
                    <span class="font-weight-bold text-uppercase">Contact : </span> <span>{{ etudiant.contact }}</span>
                </div>
            </div>
        </div>
        <div class="row col-md-12 mt-3">
            <div class="col-md-4">
                <span class="font-weight-bold text-uppercase">Niveau : </span> 
                {% if niveau == 'L1' %}
                <span class="badge badge-info">{{niveau}}</span>
                {% elif niveau == 'L2' %}
                <span class="badge badge-primary">{{niveau}}</span>
                {% elif niveau == 'L3' %}
                <span class="badge badge-success">{{niveau}}</span>
                {% else %}
                <span class="badge badge-secondary">pas de niveau</span>
                {% endif %}
            </div>
            <div class="col-md-4">
                <span class="font-weight-bold text-uppercase">Date de Naissance : </span> <span>{{ etudiant.datenaissance }}</span>
            </div>
            <div class="col-md-4">
                <span class="font-weight-bold text-uppercase">Adresse : </span> <span>{{ etudiant.adresse }}</span>
            </div>
        </div>
        <div class="row col-md-12 mt-3">
            <div class="col-md-4">
                <span class="font-weight-bold text-uppercase">Lieu de Naissance : </span> <span>{{ etudiant.lieunaissance }}</span>
            </div>
            <div class="col-md-4">
                <span class="font-weight-bold text-uppercase">Préfecture : </span> <span>{{ etudiant.prefecture }}</span>
            </div>
            <div class="col-md-4">
                <span class="font-weight-bold text-uppercase">Nationnalité : </span> <span>{{ etudiant.nationalite }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
