{% extends '../index.html' %}
{% block content_title %} Enseignant {% endblock content_title %}
{% block content %}

<style>
    .bout:hover{
        cursor: pointer;
        transition: 0.5s;
        transform: scale(1.1);
        background : #0a192aa9;
        color : white;
    }
    .bout{
        border: 1px solid rgb(8, 67, 67);
    }
</style>


<div class="block block-rounded m-5">
    <div class="block-header p-4 d-flex justify-content-between align-items-center">
        <h3 class="block-title">{{ niveau }}</h3> 
        <div class="d-flex gap-5 align-items-center">
            <form action="" method="post" id="form-semestre" class="d-flex">
                {% csrf_token %}
                {% if is_directeur_des_etudes or is_comptable %}
                <select name="etat" id="etat" class="form-control mr-3 shadow-sm bout">
                    <!-- <option value="">Etat</option> -->
                    <option value="__all__" {% if selected_etat.id == '__all__' %}selected{% endif %} disabled>Etat</option>
                    {% for etat in etats %}
                        <option value="{{ etat.id }}" {% if selected_etat.id == etat.id %}selected{% endif %}>{{ etat.value }}</option>
                    {% endfor %}
                </select>  
    
                {% endif %}
                <select name="semestre" id="semestre" class="form-control shadow-sm bout ">
                    <!-- <option value="">Semestres</option> -->
                    <option value="__all__" {% if selected_semestre.id == '__all__' %}selected{% endif %} disabled>Semestre</option>
                    {% for semestre in semestres %}
                        <option value="{{ semestre.id }}" {% if selected_semestre.id == semestre.id %}selected{% endif %}>{{ semestre }}</option>
                    {% endfor %}
                </select>  
           </form>  
            {% if is_admin or is_directeur_des_etudes %}
                <div class="px-4">
                    <a href="{% url 'main:create_enseignant'%}" class="btn btn-outline-primary bout">
                        <i class="fas fa-plus"></i> Ajouter
                    </a> 
                </div> 
            {% endif %}
        </div>
            
    </div>
    <div class="block-content block-content-full shadow-lg">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <thead>
                    <tr>
                        <th class="text-center">Nom & Prénoms</th>
                        <th class="text-center">Contact</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Specialité</th>
                        {% if is_admin or is_directeur_des_etudes %}
                        <th class="text-center">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for enseignant in enseignants %}
                    <tr>
                        <td class="text-center">{{ enseignant.personnel.nom }} {{ enseignant.personnel.prenom }}</td>
                        <td class="text-center">{{ enseignant.personnel.contact }}</td>
                        <td class="text-center">{{ enseignant.personnel.email }}</td>
                        <td class="text-center">{{ enseignant.specialite }}</td>
                        {% if is_directeur_des_etudes or is_admin  %}
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdown-default-secondary-{{ enseignant.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu font-size-sm" aria-labelledby="dropdown-default-secondary-{{ enseignant.id }}">
                                    <a href="{% url 'main:enseignant_detail' enseignant.id %}" class="dropdown-item">
                                        <i class="fa fa-eye mr-1" aria-hidden="true"></i>
                                        Afficher
                                    </a>
                                    <a href="{% url 'main:edit_enseignant' enseignant.id %}" class="dropdown-item">
                                        <i class="fa fa-edit mr-1" aria-hidden="true"></i>
                                        Editer
                                    </a>
                                </div>
                            </div>
                        </td> 
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>    
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#semestre, #etat').on('change', function() {
                $('#form-semestre').submit();
            });
        });
    </script>
{% endblock scripts %}
