<div class="col-md-6">
    <a href="#" class="js-swal-simple push" data-toggle="modal" data-target="#{{ modal_id }}">
        <div class="block block-rounded invisible" data-toggle="appear" data-class="animated bounceIn">
            <div class="block-content block-content-full">
                <div class="py-5 text-center">
                    <div class="item item-2x item-rounded {{ icon_bg_color }} text-white mx-auto">
                        <i class="{{ icon_class_names }}"></i>
                    </div>
                    <div class="font-size-h4 font-w600 pt-3 mb-0">{{ title }}</div>
                </div>
            </div>
        </div>
    </a>
</div>