{% extends 'auth.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center w-100 bg-white py-2" style="height: 460px;">
    <img src="{% static '/assets/media/logo.png' %}" alt="" width="50px">
    <h1 class="mt-4">Se connecter</h1>
    <div>

        {% if error %}
        <span class="text-danger">{{ error }}</span>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex flex-column mt-4">
                <label for="username" class="">Nom utilisateur</label>
                <input class="form-control" name="username" type="text" id="username" placeholder="Nom utilisateur">
            </div>
            <div class="d-flex flex-column mt-4">
                <label for="username" class="">Mot de passe</label>
                <div class="input-group mb-2">
                    <input class="form-control" name="password" type="password" id="password"
                        placeholder="Mot de passe">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="show_password">
                            <i class="fa fa-eye-slash" id="show_password_eyes"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse mt-2 mb-2">
                <span>
                    <a href="{% url 'main:reminder' %}">
                        <small>Oups ! j'ai oublier mon mot de passe.</small>
                    </a>
                </span>
            </div>
            <div class="mt-4">
                <button class="btn btn-primary w-100">Se connecter</button>
            </div>
        </form>
        {% comment %} <div>
            <hr class="">
            <a href="">
                <span></span>
                <button class="btn border">Outlook</button>
            </a>
        </div> {% endcomment %}
    </div>
</div>
{% endblock content %}