{% extends '../index.html' %}
{% block content_title %} Affectation Ues {% endblock content_title %}
{% load static %}

{% block content %}
<style>
    .bout:hover{
        cursor: pointer;
        transition: 0.5s;
        transform: scale(1.2);
        background : #1873dca9;
        color : white;
    }
</style>
<script src="{% static 'assets/js/jquery-3.7.1.min.js'%}"></script>

<div class="content mt-5">
    <div class="block shadow-lg block-rounded w-25 m-auto">
        <div class="block-header">
            <h3 class="block-title"></h3>
            <a href="/main/liste_ues_professeur" class="btn btn-sm btn-primary bout ml-3">Liste des Ues</a>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="block-content">
                <p class="font-size-sm text-black mb-3 fs-1">Choisissez un enseignant dans la liste déroulante :</p>
                <div class="form-group mb-4">
                    <label class="col-form-label" for="enseignant">Enseignant :</label>
                    <div class="">
                        <select class="form-control" name="enseignant" id="enseignant">
                            {% for enseignant in enseignants %}
                                <option name="enseignant" value="{{ enseignant.id }}">{{ enseignant.nom }} {{ enseignant.prenom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <p class="font-size-sm text-black mb-3 fs-1">Cochez les ues à affecter  :</p>
                <div class="form-group row mb-4">
                    {% for ue in ues %}
                        <div class="col-sm-6">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input matiere" type="checkbox" name="ues[]" value="{{ ue.libelle }}" id="{{ ue.libelle }}">
                                <label class="custom-control-label" for="{{ ue.libelle }}">{{ ue.codeUE }} || {{ ue.libelle }} </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary bout">Enregistrer</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





{% endblock %}