{% extends '../index.html' %}

{% block content_title %}
    Enregistrement une UE
    <h1>
        <a href="{% url 'main:ues' %}" class="btn btn-outline-warning">
            <i class="fas fa-chevron-left fa-lg"></i> Retour
        </a>
    </h1>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="block-content card m-4 col-md-10 col-lg-8 col-xl-6">
            <div class="d-flex justify-content-between"> 
            </div>
            <form class="container-fluid p-3" action="#" method="POST">
                {% csrf_token %}
                <div class="form-row mb-3">
                    <div class="col-12">
                        {{ form.libelle.label_tag }}
                        {{ form.libelle }}
                        <span class="text-danger">{{ form.libelle.errors }}</span>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-6">
                        {{ form.type.label_tag }}
                        {{ form.type }}
                        <span class="text-danger">{{ form.type.errors }}</span>
                    </div>
                    <div class="col-md-6">
                        {{ form.niveau.label_tag }}
                        {{ form.niveau }}
                        <span class="text-danger">{{ form.niveau.errors }}</span>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-6">
                        {{ form.nbreCredits.label_tag }}
                        {{ form.nbreCredits }}
                        <span class="text-danger">{{ form.nbreCredits.errors }}</span>
                    </div>
                    <div class="col-md-6">
                        {{ form.heures.label_tag }}
                        {{ form.heures }}
                        <span class="text-danger">{{ form.heures.errors }}</span>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-6">
                        {{ form.minValue.label_tag }}
                        {{ form.minValue }}
                        <span class="text-danger">{{ form.minValue.errors }}</span>
                    </div>
                    <div class="col-md-6">
                        {{ form.enseignant.label_tag }}
                        {{ form.enseignant }}
                        <span class="text-danger">{{ form.enseignant.errors }}</span>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-12">
                        {{ form.annee_universitaire.label_tag }}
                        {{ form.annee_universitaire }}
                        <span class="text-danger">{{ form.annee_universitaire.errors }}</span>
                    </div>
                </div>
                <button class="btn btn-primary btn-block mt-3" type="submit"><i class="fas fa-database"></i> Enrégistrer &nbsp;&nbsp;&nbsp;<span></span></button>
            </form> 
        </div>
    </div>
{% endblock %}