{% extends '../index.html' %}
{% block content_title %} Récapitulatif {% endblock content_title %}
{% block backURl %}  
<a href="{% url 'main:matieres_etudiant' %}">
    <button class="btn btn-warning">
        <i class="si si-arrow-left"></i>
        Retour
    </button>
</a>
{% endblock backURl %}
{% block content %}
<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h3 class="block-title">Récapitulatif des notes de l'étudiant  : <span class="">{{ etudiant.full_name }}</span> </h3>
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <thead>
                <tr>
                    <th class="text-center">Matiere</th>
                    <th scope="col" class="" style="width: 15%;"> Moyenne </th> 
                </tr>
            </thead>
            <tbody>
                {% for matiere in matieres %}
                <tr>
                    <td class="d-flex justify-content-between font-size-sm">
                        <div>
                            {{matiere.matiere}} 
                        </div>
                        <div>
                            {% if matiere.a_valider %}
                            <span class="text-success">
                                <i class="fa fa-check"></i>
                            </span>
                            {% else %}
                                <span class="text-danger">
                                    <i class="fa fa-skull-crossbones"></i>
                                </span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="text-left font-size-sm"> {{ matiere.moyenne }} </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}