{% extends 'index.html' %}

{% load static %}
{% block content_title %} Tableau de bord {% endblock content_title %}
{% block backURl %} 
  <img src="/media/assets/logo-purge.png" alt="" width="50px">                
{% endblock backURl %} 


{% block content %}


<script>
document.addEventListener('DOMContentLoaded', function() {
    var event_data = JSON.parse('{{ event_data|safe }}');
    var calendar;

    var Planning = function () {
        return {
            init: function () {
                this.initCalendar();
            },

            initCalendar: function () {
                var mostRecentEventDate = null;
                for (var i = 0; i < event_data.length; i++) {
                    var startDate = event_data[i].start;
                    if (!mostRecentEventDate || startDate > mostRecentEventDate) {
                        mostRecentEventDate = startDate;
                    }
                }
                calendar = new FullCalendar.Calendar(document.getElementById("js-calendar"), {
                    locale: 'fr',
                    contentHeight: 600,
                    themeSystem: "bootstrap",
                    firstDay: 1,
                    headerToolbar: {
                        left: "title",
                        right: "prev,next today dayGridMonth,timeGridWeek,timeGridDay,listWeek"
                    },
                    buttonText:{
                      today:    "Aujourd'hui",
                      month:    "Mois",
                      week:     'Semaine',
                      day:      'Jour',
                      list:     'Liste'

                    },
                    slotMinTime: "07:00:00",
                    slotMaxTime: "20:00:00",
                    slotDuration: "00:15:00",
                    slotLabelInterval: "01:00:00",
                    initialView: "timeGridWeek",

                    hiddenDays: [0],
                    initialDate: mostRecentEventDate,
                    events: event_data
                });
                calendar.render();
            }
        };
    };

    // Initialize the Planning object and call the init method
    var planningInstance = new Planning();
    planningInstance.init();
});

  </script>
  <script src="{% static 'assets/js/plugins/fullcalendar/main.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

{% if is_etudiant or is_enseignant  %}

  <div class="block-content">
    <div id="js-calendar"></div>
    
  </div>

{% endif %}

  {% if is_directeur_des_etudes %}
  <main id="main-container">
    <div class="content">
      <div class="row row-deck">
        
        <div class="col-sm-6 col-xl-3 shadow p-3 mb-5 bg-white rounded">
          <div class="block block-rounded d-flex flex-column">
            <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
              <dl class="mb-0">
                <dt class="font-size-h2 font-w700"> {{ nb_etudiants}} </dt>
                <dd class="text-muted mb-0">Étudiants</dd>
              </dl>
              <div class="item item-rounded bg-body">
                <i class="fa fa-user-graduate font-size-h3 text-primary"></i>
              </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
              <a class="font-w500 d-flex align-items-center" href="{% url 'main:etudiants' %}">
                Voir tous les étudiants
                <i class="fa fa-arrow-alt-circle-right ml-1 opacity-25 font-size-base"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xl-3 ">
          <div class="block block-rounded d-flex flex-column shadow p-3 mb-5 bg-white rounded">
            <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
              <dl class="mb-0">
                <dt class="font-size-h2 font-w700"> {{ nb_enseignants}} </dt>
                <dd class="text-muted mb-0">Enseignants</dd>
              </dl>
              <div class="item item-rounded bg-body">
                <i class="fa fa-chalkboard-teacher font-size-h3 text-primary"></i>
              </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
              <a class="font-w500 d-flex align-items-center" href="{% url 'main:enseignants' %}">
                Voir tous les enseignants
                <i class="fa fa-arrow-alt-circle-right ml-1 opacity-25 font-size-base"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xl-3">
          <div class="block block-rounded d-flex flex-column shadow p-3 mb-5 bg-white rounded">
            <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
              <dl class="mb-0">
                <dt class="font-size-h2 font-w700"> {{ nb_ues}} </dt>
                <dd class="text-muted mb-0">Ues</dd>
              </dl>
              <div class="item item-rounded bg-body">
                <i class="fa fa-book font-size-h3 text-primary"></i>
              </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
              <a class="font-w500 d-flex align-items-center" href="{% url 'main:ues' %}">
                Voir toutes les ues
                <i class="fa fa-arrow-alt-circle-right ml-1 opacity-25 font-size-base"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xl-3">
          <div class="block block-rounded d-flex flex-column shadow p-3 mb-5 bg-white rounded ">
            <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
              <dl class="mb-0">
                <dt class="font-size-h2 font-w700"> {{ nb_matieres }} </dt>
                <dd class="text-muted mb-0">Matières</dd>
              </dl>
              <div class="item item-rounded bg-body">
                <i class="fa fa-book-reader font-size-h3 text-primary"></i>
              </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
              <a class="font-w500 d-flex align-items-center" href="{% url 'main:matieres_etudiant' %}">
                Voir toutes les matières
                <i class="fa fa-arrow-alt-circle-right ml-1 opacity-25 font-size-base"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  {% endif %}

{% endblock %}
